
<div class="header">
<div class="dashboard">
<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon routerLink="/home">menu</mat-icon>
  </button>
  <span class="logo"><img  src="Images/Comcast_Advertising_logo 1.png" alt="logo"></span><br><br>
  <span class="admin">Admin Dashboard</span>
  <span class="example-spacer"></span>
  <!-- Vertical divider -->
  <span class="vertical-divider"></span>
  <!-- Profile dropdown -->
  <button mat-button [matMenuTriggerFor]="profileMenu" class="profile">
    <mat-icon>account_circle</mat-icon>
    <strong>{{username}}</strong>
    <small>Admin</small>
      
  </button>
  <mat-icon class="arrow-icon">expand_more</mat-icon>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>My Account</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
</div>
    <!-- <div class="profile">Alex M.Grim</div> -->
</div>
<div class="Container">
    <!-- <h1>Dashboard works</h1> -->
    <div class="starpiechartdiv ">
        <div class="star-header">
        <div class="star-title">Star Rating Distribution</div>
        </div>
        <div class="starpiechartdiv2">
        <app-star-piechart *ngIf="isBrowser"></app-star-piechart>
        </div>
    </div>

    <div class="likepiechartdiv">
        <div class="like-header">
        <div class="like-title">Likes Vs Dislikes</div>
        </div>
        <div class="likepiechartdiv2">
        <app-like-piechart *ngIf="isBrowser"></app-like-piechart>
        </div>
    </div>

    

<div class="feedbackdiv">
    <div class="feedback-header">
        <div class="feedback-title">Component Level Feedback</div>
    </div>
    <div class="chart">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Component">
    <th mat-header-cell *matHeaderCellDef class="table-header"><div class="header-text">COMPONENT</div>  </th>
    <td mat-cell *matCellDef="let element" class="table-cell"  [routerLink]="['/header-feedback', element.Component]" > {{element.Component}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Likes">
    <th mat-header-cell *matHeaderCellDef class="table-header"> LIKES </th>
    <td mat-cell *matCellDef="let element" class="table-cell"> {{element.Likes}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Dislikes" >
    <th mat-header-cell *matHeaderCellDef class="table-header"> DISLIKES </th>
    <td mat-cell *matCellDef="let element" class="table-cell"> {{element.Dislikes}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Star_Rating">
    <th mat-header-cell *matHeaderCellDef class="table-header"> STAR RATING </th>
    <td mat-cell *matCellDef="let element" class="table-cell"> {{element.Star_Rating}} </td>
  </ng-container>

   <ng-container matColumnDef="Sample_Comments">
    <th mat-header-cell *matHeaderCellDef class="table-header"> SAMPLE COMMENTS </th>
    <td mat-cell *matCellDef="let element" class="table-sample" [routerLink]="['/header-feedback', element.Component]"> {{element.Sample_Comments}} 
  <a *ngIf="element.hasMoreComments"
   [routerLink]="['/header-feedback', element.Component]"
   class="read-more">
  Read more...
</a></td>
    
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


    </div>
</div>


<br><br>

<div class="portaldiv">
    <div class="feedback-header">
        <div class="feedback-title">Portal Level Feedback</div>
    </div>
    <div class="portal-chart">
        <table mat-table [dataSource]="portalDataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Star_Rating">
    <th mat-header-cell *matHeaderCellDef class="table-header"><div class="header-text">Star_Rating</div>  </th>
    <td mat-cell *matCellDef="let element" class="table-cell"   > {{element.Star_Rating}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="What_Worked_Well">
    <th mat-header-cell *matHeaderCellDef class="table-header"> What_Worked_Well </th>
    <td mat-cell *matCellDef="let element" class="table-cell"> {{element.What_Worked_Well}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="How_We_Can_Improve" >
    <th mat-header-cell *matHeaderCellDef class="table-header"> How_We_Can_Improve </th>
    <td mat-cell *matCellDef="let element" class="table-cell"> {{element.How_We_Can_Improve}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Attach_Screenshot">
    <th mat-header-cell *matHeaderCellDef class="table-header"> Attach_Screenshot </th>
    <!-- <td mat-cell *matCellDef="let element" class="table-cell"> {{element.Attach_Screenshot}} </td> -->
  
    <td mat-cell *matCellDef="let element" class="table-cell">
    <ng-container *ngIf="element.Attach_Screenshot !== 'No'; else noScreenshot">
      <a [href]="element.Attach_Screenshot"  [download]="element.Attach_Screenshot">
        Yes
      </a>
    </ng-container>
    <ng-template #noScreenshot>
      No
    </ng-template>
  </td>
  </ng-container>

   <!-- <ng-container matColumnDef="Sample_Comments">
    <th mat-header-cell *matHeaderCellDef class="table-header"> SAMPLE COMMENTS </th>
    <td mat-cell *matCellDef="let element" class="table-sample"> {{element.Sample_Comments}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedPortalColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedPortalColumns;"></tr>
</table>


    </div>

    <div class="tag-section">
      <!-- <div class="tagdiv "> -->
        <div class="tag-header">
        <div class="tag-title">Tag Section</div>
        </div>
        <div class="tagdiv2">
        <app-tag-section></app-tag-section>
        </div>
    <!-- </div> -->
      
    </div>
</div>
</div>
