
.read-more {
  color: #1976d2;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 8px;
}

.header{
    width: 1440px;
    height: 64px;
    /* padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px; */
    gap: 24px;
    background-color: E4E4E4;
}
.example-spacer {
  flex: 1 1 auto;
}
.vertical-divider {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  height: 40px;
  margin: 0 12px;
}
.logo{
    width: 92px;
    height: 24px;
    opacity: 1;

}
.admin{
    width: 169px;
    height: 24px;

    padding-left: 10px;
    font-family: Gotham;
    font-weight: bold;
    font-style: Bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #005F92;
}
.dashboard{
    width: 1440px;
    height: 24px;
    /* top: 20px; */
    /* left: 40px; */
    position: relative;
    gap: 16px;
    background-color: blue;
    float: left;

    font-family: Gotham;
    font-weight: bold;
    font-style: Bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #005F92;

}
.profile{
width: 237px;
height: 64px;
/* gap: 16px; */
padding-right: 16px;
padding-left: 16px;

    /* float: right; */
    /* width: 261px;
    height: 64px; */
    /* gap: 24px; */
    /* background-color: bisque; */

}
.profile mat-icon{
width: 32px;
height: 32px;
opacity: 1;
gap: 10px;
border-radius: 50px;
padding: 10px;
font-size: 32px;
    color: #005F92;
}
strong {
  font-size: 12px;
  display: block;
  width: 116.761962890625px;
height: 20px;
top: 10px;
left: 64.24px;

font-family: Gotham;
font-weight: 350;
font-style: Medium;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1px;


}
small {
  font-size: 12px;
  color: gray;

  width: 116.761962890625px;
height: 20px;
top: 34px;
left: 64.24px;

font-family: Gotham;
font-weight: 325;
font-style: Book;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.25px;


}
.arrow-icon{
    width: 24px;
height: 24px;
position: relative;
right: 40px;

}
.Container{
    background-color: #E4E4E4;
    width: 1440px;
    /* height: 1024px; */
    height: 1500px;
}

.pie-chart-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
}
.starpiechartdiv{
    width: 688px;
    height: 357.96px;
    top: 84px;
    left: 21px;
    border: 1px;
    position: absolute;
    border-color: #DEDADA;
    background-color: white;/*bisque*/

}
.star-header{
    
    max-width: 688px;
    max-height: 43px;
    /* max-height: 64px; */
    top: 84px;
    left: 21px;
    border-top-left-radius:8px ;
    border-top-right-radius: 8px;
    padding: 16px 30px;
    gap: 8px;
    background-color: #008CC3;
}
.star-title{
    width: 688px;
    height: 20px;
    max-width: 600px;
    top: 84px;
    left: 21px;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    color: white;
}
.starpiechartdiv2{
    width: 688px;
    height: 315px;
    max-width: 600px;
    top: 126.96px;
    left: 21px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
    /* background-color: #FFFFFF; */

}
.likepiechartdiv{
    width: 688px;
    height: 357.96px;
    top: 84px;
    left: 728px;
    border: 1px;
    border-color: #DEDADA;
    position: absolute;
    background-color: white;
}
.like-header{
    
    max-width: 688px;
    max-height: 43px;
    /* max-height: 64px; */
    top: 84px;
    left: 728px;
    border-top-left-radius:8px ;
    border-top-right-radius: 8px;
    padding: 16px 30px;
    gap: 8px;
    background-color: #008CC3;
}
.like-title{
    width: 115px;
    height: 20px;
    max-width: 600px;
    top: 84px;
    left: 21px;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    color: white;
}
.likepiechartdiv2{
    width: 688px;
    height: 315px;
    top: 126.96px;
    left: 728px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    /* background-color: #FFFFFF; */
}
.feedbackdiv{
    width: 1396px;
    height: 324px;
    top: 458px;
    left: 21px;
    position: absolute;
    border-color: #DEDADA;
    background-color: white;
}
.portaldiv{
    width: 1396px;
    height: 100px;
    top: 900px;
    left: 21px;
    position: absolute;
    border-color: #DEDADA;
    background-color: white;
}
.feedback-header{
    
    max-width: 1395px;
    max-height: 47px;
    /* max-height: 64px; */
    top: 84px;
    left: 1px;
    border-bottom: 2px;
    border-top-left-radius:8px ;
    border-top-right-radius: 8px;
    padding: 16px 30px;
    gap: 8px;
    background-color: #008CC3;
}
.feedback-title{
    width: 600px;
    height: 20px;
    max-width: 600px;
    /* top: 84px;
    left: 21px; */
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    color: white;
}
.chart{
    width: 1395px;
    height: 174px;
    top: 48px;
    /* left: 728px; */
    /* border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; */
    /* background-color: #FFFFFF; */
    gap: 2px;
}
table {
  width: 100%;

}
::ng-deep ng-container{
    width: 1395px;
    height: 38px;
    gap: 1px;
    /* background-color: black; */
}
/* ::ng-deep .mat-mdc-header-cell{
    background-color: #005F92 !important;
    width: 264px;
height: 38px;
justify-content: space-between;
opacity: 1;
padding-top: 24px !important;
padding-right: 12px;
padding-bottom: 24px;
padding-left: 12px;

} */
::ng-deep .table-header{
    width: 264px !important;
    height: 32px !important;
    justify-content:space-between !important;
    padding-top: 24px!important;
    padding-bottom: 24px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    background-color:  #F1F1F1 !important;
    text-align: center !important;
    font-family: Gotham;
    font-weight: 400;
    font-style: Bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    text-transform: uppercase;
    

}
/* .header-text{
    width: 90px;
    height: 16px;
    font-family: Gotham;
    font-weight: 400;
    font-style: Bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    text-transform: uppercase;

} */
 ::ng-deep .table-cell{
    /* width: 1395px; */
    height: 32px;

    font-family: Gotham;
    font-weight: 325;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center !important;
    vertical-align: middle;
    color: #005F92;
;

 }
 ::ng-deep .table-sample{
    height: 32px;

    font-family: Gotham;
    font-weight: 325;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    vertical-align: middle;
 }
